/* Import font using the HTML link you already added */
/* Or optionally import directly in CSS */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */

/* Apply font globally */
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* Or create CSS classes for specific usage */
.josefin-font {
  font-family: 'Josefin Sans', sans-serif;
}

.josefin-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.josefin-regular {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.josefin-italic {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
